<header>
    <div class="navbar bg-dark navbar-dark navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">Collage Task</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
                {% if user.is_teacher %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assign-task' %}">Assign Task</a>
                </li>
                {% endif %}
                {% if user.is_student %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks-me' %}">My Tasks</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownstudent" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Student
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownstudent">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'register-student' %}">Register</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownteacher" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teacher
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownteacher">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'register-teacher' %}">Register</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>