{% extends 'task/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" class="my-4">{% csrf_token %}
    {% if title %}
    <legend class="text-center font-weight-bold text-dark text-uppercase">{{title}} Profile</legend>
    {% elif user.is_authenticated == False %}
    <legend class="text-center font-weight-bold text-dark text-uppercase">Register {{title}}</legend>
    {% else %}
    <legend class="text-center font-weight-bold text-dark text-uppercase">Form</legend>
    {% endif %}
    <!-- Crispy Forms -->
    {{ form|crispy }}

    {% if button_value %}
    <input type="submit" class="btn btn-outline-primary" value="{{title}}">
    {% else %}
    <input type="submit" class="btn btn-outline-primary" value="Register">
    {% endif %}
</form>
{% if user.is_authenticated == False %}
<div class="mb-2">
    <small class="text-muted">Already havea an account? <a href="{% url 'login' %}">login</a> </small>
</div>
{% endif %}

{% endblock %}